
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #333333aa);
}
.logo.sketch:hover {
  filter: drop-shadow(0 0 2em #222222aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  border: 2px solid #333;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  transform: translate(-4px, -4px);
  z-index: -1;
}

.read-the-docs {
  color: #333;
}

.btn-sketch {
  background-color: white;
  border: 2px solid #333;
  color: #333;
  padding: 0.5rem 1rem;
  position: relative;
  transition: all 0.3s ease;
}

.btn-sketch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  transform: translate(4px, 4px);
  z-index: -1;
  transition: all 0.3s ease;
}

.btn-sketch:hover {
  transform: translate(2px, 2px);
}

.btn-sketch:hover::before {
  transform: translate(2px, 2px);
}

.sketchy-box {
  border: 2px solid #333;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 1em;
}
